@font-face{
	font-family:yofont;
	src:url("/footballApps/images/iconfont1/iconfont.woff") format("woff"),
	url("/footballApps/images/iconfont1/iconfont.ttf") format("truetype");
}
@font-face{
	font-family:yofont;
	src:url("/footballApps/images/iconfont1/iconfont-back.woff") format("woff"),
	url("/footballApps/images/iconfont1/iconfont-back.ttf") format("truetype");
}

/* @font-face{
	font-family:yofont;
	src:url("/footballApps/images/iconfont/iconfont-menu.woff") format("woff"),
	url("/footballApps/images/iconfont/iconfont-menu.ttf") format("truetype");
} */

